SERVER_PORT=8080 ## Порт, который слушает приложение,
SERVER_CONTEXT_PATH=/  ## путь, если используется nginx и location отличен от /
OPENVPN_ROOT=/etc/openvpn ## путь к openvpn
OPENVPN_CONFIG_FILE_NAME=server.conf ## наименование конфигурационного файла
OPENVPN_CONFIG_ENCODING=Windows-1251 ## кодировка конфига. если оставить пустой, или убрать директиву, то будет определяться автоматически (но могут быть проблемы с кирилицей в конфиге)
OPENVPN_EASY_RSA_PATH=/etc/openvpn/easy-rsa/2.0 ## путь к скриптам easy-rsa
OPENVPN_STATUS_FILE_NAME=openvpn-status1194.log ## Имя файла статуса OpenVPN
SECURITY_USER_NAME=admin # login для входа в веб-интерфейс
SECURITY_USER_PASSWORD=admin_change_me # пароль для входа в веб-интерфейс
